<tr>
  <td>
    <%= link_to "←", user_path(params: {id: @user.id, first_day: @first_day.prev_month }),
                       class: "btn btn-xs btn-primary" %>
    &emsp;<%= @first_day.to_s(:year_month) %>　時間管理表&emsp;
    <%= link_to "→", user_path(params: {id: @user.id, first_day: @first_day.next_month }),
                       class: "btn btn-xs btn-primary" %>
  </td>
  <td>
    指定勤務開始時間：<%= format_basic_time(@user.designated_working_start_time) %><br>
    指定勤務終了時間：<%= format_basic_time(@user.designated_working_end_time) %>
  </td>
  <td colspan = "2">基本時間：<%= format_basic_time(@user.basic_time) %></td>
  <td>初日：<%= @first_day.to_s(:date) %></td>
</tr>
<tr>
  <td>所属：<%= @user.department.present? ? @user.department : "未設定" %></td>
  <td>氏名：<%= @user.name %></td>
  <td>コード：<%= @user.employee_number %></td>
  <td>出勤日数：<%= @worked_sum %>日</td>
  <td>締日：<%= @last_day.to_s(:date) %></td>
</tr>