<li>
  <div><%= user.name %>（<%= user.position %>）</div>
  <%= link_to "削除", user, method: :delete, class: 'btn btn-primary', data: { confirm: "削除してよろしいですか？" } %>
  
  <div class="panel-group" id="sampleAccordion<%= user.id %>">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-parent="#sampleAccordion2" class="btn-lg btn-primary font_color_wht" href="#AccordionCollapse<%= user.id %>" aria-expanded="false">編集</a>
        </h3>
      </div>
      <div id="AccordionCollapse<%= user.id %>" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <!--<div class="col-md-6 col-md-offset-3">-->
            <%= render 'users/form_index_edit', { user: user } %>
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</li>