<% provide(:title, '勤怠表示') %>

<div>
  <table class = "table-bordered table-condensed">
    <%= render 'user_info' %>
  </table>
  
  <% if @user.position === '上長' %>
    <div>
      <% if @approval_from_user.present? %>
        <div class="margin">
          <a class="red" id="attendance" data-remote="true" href="#">【所属長承認申請のお知らせ】</a>
          <span class="red2 box"><%= @approval_from_user.count %>件の申請があります</span>
        </div>
        <%= render 'confirm_attendance' %>
      <% else %>
        <div class="">【所属長承認申請のお知らせ】</div>
      <% end %>
    
      <div class="">【勤怠変更のお知らせ】</div>
    
      <div class="margin">
         <a class="red" id="overtime" data-remote="true" href="#">【残業申請のお知らせ】</a>
         <span class="red2 box">2件の申請があります</span>
      </div>
    </div>
  <% end %>
  
  <%= link_to "勤怠を編集", edit_attendances_path(@user, @first_day), class: "btn btn-primary" %>
  <%= link_to 'CSV出力', create_csv_attendances_path(@user, @first_day, format: :csv), class: "btn btn-primary" %>
  <%= link_to '勤怠修正ログ（承認済）', create_csv_attendances_path(@user, @first_day, format: :csv), class: "btn btn-primary" %>
  
  <table class = "table-bordered table-striped table-condensed">
    <%= render 'attendance_list' %>
  </table>
</div>
